!!!
%html

  %head

    -# [if lt IE 7] <html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" >
    -# [if IE 7] <html class="no-js ie ie7 lt-ie9 lt-ie8" >
    -# [if IE 8] <html class="no-js ie ie8 lt-ie9" >
    -# [if gt IE 8]><!
    -# <![endif]>

    %meta{charset: "{{site.charset}}"}
    %title
      {% if wp_title %}
      {{ wp_title }} - {{ site.name }}
      {% else %}
      {{ site.name }}
      {% endif %}

    %meta{content: "{{ site.name }}", name: "description"}
    %meta{content: "text/html; charset=UTF-8", http-equiv: "Content-Type"}
    %meta{content: "IE=edge,chrome=1", http-equiv: "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %link{href: "", rel: "pingback"}

    {{function('wp_head')}}

    -# Head Block
    {% block head %}
    {% endblock %}

    -# CSS
    %link{href: "{{theme.link}}/assets/stylesheets/core.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link{href: "{{theme.link}}/bower_components/foundation-sites/dist/css/foundation.min.css", media: "screen", rel: "stylesheet", type: "text/css"}

  %body{class: "{{body_class}}", data-template: "base.twig"}

    -# Navigation
    -# {% include "particles/navigation.twig" %}
    -# Page Content
    {% block content %}

    {% endblock %}

    -# Footer
    {% block footer %}


    {% endblock %}

      -# Scripts
      %scripts
        -# Foundation
        %script{src: "{{theme.link}}/bower_components/foundation-sites/dist/js/foundation.min.js"}

        :javascript
          $(document).foundation();+



        -# Animate CSS
        -# %link{href: "{{theme.link}}/bower_components/animate.css/animate.min.css", media: "screen", rel: "stylesheet", type: "text/css"}

        -# Wowjs
        %script{src: "{{theme.link}}/bower_components/wow/dist/wow.min.js"}
        :javascript
          new WOW().init();

        {% block scripts %}
        {% endblock %}
