{% extends "base.twig" %}

{% block content %}

%nav#topnav

  .row
    .small-12.columns
      .cont-1
        %h1 This is the middle container

  .row
    .small-12.columns
      .cont-2
        %h1 This is the bottom container

%section#next
  .row
    .small-12.columns
      .next-section
        %h1 This is the next section



{% endblock %}
